<ion-header>
  <ion-toolbar>
    <ion-title>News Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card >
    <ion-card-header>
      <ion-card-subtitle>{{article.author}} :: {{article.publishedAt}}</ion-card-subtitle>
      <ion-card-title>{{article.title}}</ion-card-title>
    </ion-card-header>
    <ion-img [src]="article.urlToImage"></ion-img>

    <ion-card-content >
      <p> {{article.description}}</p>
     <p> {{article.content}}</p>
    </ion-card-content>
  </ion-card>


</ion-content>
